@import '../../styles/variables.css';

div.profile-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  section > h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

.todo, .completed > h2 {
  margin-left: 2vw;
}

.goalsTodo > li > p {
  margin: .5rem 0 0 1rem;
  font-size: 1.1rem;
}

article.completedGoal {
  display: flex;
  flex-direction: column;
  /* justify-content: bottom; */
  align-content: flex-end;
  width: 96vw;
  margin: 2vw auto;
  /* &:hover {
    background: $orange;
  } */
  img {
    width: 100%;
    height: 96vw;
    object-fit: cover;
  }

  .headline {
    background: $medium;
    padding: 1rem;
    
    h2 {
      color: $light;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 420px){
  article.completedGoal {
    width: 90vw;
    margin: 5vw auto;
    img { height: 90vw; }   
  }
 
  .todo, .completed > h2 {
    margin-left: 5vw;
  }
}

@media (min-width: 640px){

  /* .info > div:nth-child(1) {grid-area: 'a';} */

  ul.completedImage {
    display: grid;
    grid-template-areas:
    "a b";
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: .5rem;
    max-width: 100%;
    margin: 1rem 1rem 0;
  }

  article.completedGoal {
    width: 96%;
    margin: 1rem auto;
    img { height: 300px; width: 100% }   
  }

  .todo, .completed > h2 {
    margin-left: 1rem;
  }

}

@media (min-width: 900px){
  ul.completedImage {
    grid-template-areas:
    "a b c";
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

