@import '../../styles/variables.css';

div.profile-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.completed, .todo { 
  max-width: 100%;

  > h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 10px;
  }
}

ul.goalsTodo { 
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top: 1.5rem;
  width: 100%;
  
  li > p {
    font-size: 1.1rem;
    background: $medium;
    color: $light;
    padding: 10px;
    margin: 5px;
  }
}

article.completedGoal {
  max-width: 100%;
  margin: 2vw auto;

  > img {
    width: 100%;
    height: 96vw;
    object-fit: cover;
  }

  .goal-head {
    background: $medium;
    
    > h2 {
      padding: 1rem;
      color: $light;
      font-size: 1.2rem;
    }
  }
}

ul.completedImage > li:hover .goal-head { 
  background: $orange; 
}

@media (min-width: 420px){
  article.completedGoal {
    width: 90vw;
    img { height: 300px; }   
  }
}

@media (min-width: 640px){
  ul.completedImage {
    display: grid;
    grid-template-areas:
    "a b";
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: .5rem;
    max-width: 100%;
  }

  article.completedGoal {
    width: 96%;
    img { height: 300px; width: 100% }   
  }
}

@media (min-width: 900px){
  ul.completedImage {
    grid-template-areas:
    "a b c";
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

