@import './variables.css';

html {height: 100%;}

.clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  min-height: 100%;
  min-width: 350px;
  max-width: 100vw;
  font-family: sans-serif;
  background: $light;
  font-family: 'Lato', sans-serif;
}
    
img {
  width: 100%;
  height: auto;
  display: block;
}