@import '../../styles/variables.css';

div.sgoal-detail {
  width: 70%;
  margin: 3rem auto 1rem;

  h2, h3 { font-weight: 700; }
  
  h2 {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 1.2rem;
    margin: 10px 0 30px;
    a {
      text-decoration: none;
      color: $dark;
      &:hover { text-decoration: underline; }
    }
  }

  .detail-flex {
    display: flex;
    flex-direction: row;

    h4 { margin-right: 10px;}
  }

  p {
    margin-top: 10px; font-size: 1.4rem;
  }
}