@import '../../styles/variables.css';

.goalImage > li:hover .headline {
  height: 200px;
  h2 {
    bottom: 60px;
    font-size: 2rem;
  }
 
}

article.galleryImage {
  /* display: flex;
  flex-direction: column;
  align-content: flex-end; */
  width: 96vw;
  margin: 2vw auto;
  position: relative;
  /* &:hover {
    background: $orange;
  } */
  img {
    width: 100%;
    height: 96vw;
    object-fit: cover;
  }

  div.headline {
    background: $mediumscreen8;
    width: 100%;
    height: 80px;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
    bottom: 0;
    position: absolute;
    h2 {
      box-sizing: border-box;
      padding: .5rem;
      text-align: center;
      color: $light;
      font-size: 1.3rem;
      position: absolute;
      bottom: 20px;
      width: 100%;
      height: auto;
      text-shadow: 0px 0px 5px $mediumscreen8;


    }
  }
}

@media (min-width: 420px){
  article.galleryImage {
    width: 90vw;
    margin: 5vw auto;
    img { height: 90vw; }   
  }
}

@media (min-width: 640px){

  ul.goalImage {
    display: grid;
    grid-template-areas:
    "a b";
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: .5rem;
    max-width: 100%;
    margin: 1rem 1rem 0;
  }

  article.galleryImage {
    width: 96%;
    margin: 1rem auto;
    img { height: 300px; width: 100% }   
  }
}

@media (min-width: 900px){
  ul.goalImage {
    grid-template-areas:
    "a b c";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

