@import '../../styles/variables.css';

span.firebaseui-idp-text-long {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left:1em;

}

button.firebaseui-idp-button {
  border: .5px solid rgba(243, 65, 11, 0.726);
  display: flex;
  justify-content: center;
  max-height: 27px;
  width: 180px;
  margin: 2em 0 0 -1em;

}

.firebaseui-idp-text-short {
  display: none;
}

img.firebaseui-idp-icon {
  max-width: 15px;
  max-height: 15px;
  margin: 0;
}

.firebaseui-list-item {
  margin: 0 auto;
  width: 150px;
}

.firebaseui-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
 
}

.firebaseui-card-header,
.firebaseui-title,
.firebaseui-error-wrapper, 
.firebaseui-textfield,
.firebaseui-id-submit, 
.firebaseui-error {
  margin-top: 1em;
}

.mdl-textfield__label, 
.firebaseui-id-secondary-link {
  margin-right: .5em;
}

.image-container {
  border-top: 2px solid rgba(243, 65, 11, 0.726);
  position: relative;
  width: 100%;
  height: 50rem;
  background: 
  linear-gradient(transparent, rgba(8,35,45, .8)),
    url(./antelope.jpg) no-repeat center;
  background-size: cover;
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, .8);
  font-size: 1.5em;
  line-height: 1.5;
  margin: 10rem .5rem 0;
  color: white;
}

