@import '../../styles/variables.css';

header.mainHeader, .topRow, .userInfo, .nav > section {
  display: flex;  
}

header.mainHeader {
  max-width: 100%;
  height: auto;
  padding: 1rem;
  background: $dark;
  flex-direction: column;
  justify-content: space-between;

  .topRow {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .userInfo {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: $light;
    
    p { margin-right: .5rem; }
    
    a {
      text-decoration: none;
      color: $light;     
      &:hover { text-decoration: underline; }
    }

  }

  h1 {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $light;
  }
}

.nav {
  max-width: 100%;
  padding: 1rem;
  background: $medium;
  
  section {
    width: 60%; 
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;

    h2 { 
      font-size: 1.1rem;
      font-weight: 700; 
      text-transform: uppercase; }

    a {
      text-decoration: none;
      color: $light;      
      &:hover { text-decoration: underline; }
    }


  }
}

@media (max-width: 440px){
  
  header.mainHeader {

    .topRow { align-items: center; }

    .userInfo { 
      flex-direction: column; 
      align-items: flex-end;
      p { margin: 0 0 5px; }
    }

    h1 { width: 6rem; }
  }

  .nav > section { width: 100%; }
}